.benefits-container {
  display: flex;
  flex-direction: column;
  max-width: 1350px;
  margin: 200px auto;
  text-align: center;

  .benefits-title {
    margin-bottom: 50px;
    h4 {
      font-weight: 500;
      font-size: 1.9rem;
      margin-bottom: 15px;
    }
    h1 {
      font-size: 3rem;
      font-family: $font1;
    }
  }

  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3.7rem;
    padding: 0 3rem;
  }

  .benefits-logo {
    padding: 10px 50px;

    img {
      width: 100px;
      opacity: 0.9;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 1.4rem;
      font-family: $font1;
      margin-bottom: 15px;
    }

    p {
      color: $grey;
      font-weight: 300;
      font-size: 1rem;
      font-family: $font2;
      line-height: 1.4rem;
    }
  }
}
