.testimonials-compo {
  background-color: #f8f8f8;
  padding: 40px 0;

  .testimonials-content {
    margin: 0 auto;
    max-width: 1200px;

    .testimonials-intro {
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2 {
        font-weight: 400;
        font-family: $font1;
        font-size: 2rem;
      }

      h1 {
        font-family: $font1;
        font-weight: 600;
        font-size: 3rem;
        margin-bottom: 25px;
      }

      p {
        font-family: $font2;
        color: $grey;
        line-height: 1.5;
        padding: 0 300px;
      }
    }
  }

  .testimonials {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;
    width: 100%;

    .testi {
      background-color: #fff;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
      padding: 2.5rem;
      position: relative;
      width: 54rem;

      h3 {
        font-family: $font1;
        font-size: 1.4rem;
        font-weight: 500;
      }

      .testi-type {
        display: flex;
        justify-content: space-between;
        align-items: end;

        .testi-name {
          display: flex;
          gap: 2rem;
          margin-top: 3rem;

          img {
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
          }

          h4 {
            font-family: $font1;
            font-size: 1.4rem;
          }

          p {
            font-family: $font2;
            font-size: 1.2rem;
            font-weight: 300;
          }
        }

        .testi-i {
          bottom: 33px;
          color: #ff4d30;
          font-size: 6.2rem;
          position: absolute;
          right: 60px;
        }
      }
    }
  }
}
